[WIN]
%{ for index, ip in winipv4-address ~}
${ip}
%{ endfor ~}

[WIN:vars]
ansible_user=
ansible_password=
ansible_connection=
ansible_port=
ansible_winrm_server_cert_validation=ignore

[RHEL]
%{ for index, ip in linipv4-address ~}
${ip}
%{ endfor ~}